:root {
  --Cor-de-fundo: #fff;
  --tamanho-da-letra: 18px;
  --tamanho-da-letra-smartphone: 16px;
  --fonte-da-letras: "Ogg", serif;
  --tamanho-de-titulo: 45px;
  --cor-do-footer: black;
  --color-light: #e9d8a6;
}

* {
  margin: 0;
  padding: 0;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  text-align: left;

  .text-content {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateY(-50%);
    color: #fff;
  }

  .background {
    width: 100%;
    height: 650px;
    opacity: 95%;
    transition: opacity 0.3s ease;
  
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    height: auto;
    opacity: 62%;
  }
  
  .h2 {
    font-size: 2em;
    margin: 0;
  }
  
  .p {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .button {
    padding: 10px 10px;
    font-size: 1em;
    cursor: pointer;
  }
}

.card-section {
  background-color: #333333;
  text-align: center;
  padding: 90px 0;

  .card {
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
  }

  #text {
    font-size: 28px;

  }

  .card img {
    width: 100%;
    border-radius: 10px;
  }

}

.card-section2 {
  text-align: center;
  background-color: #3b3939;
  padding: 5%;

  #text2 {
    font-size: 28px;
    color: var(--Cor-de-fundo);
    margin-left: -510px;
  }

  #text3 {
    font-size: 28px;
    color: var(--Cor-de-fundo);
    margin-right: -550px;
    margin-top: -45px;
  }

  .col {
    margin-left: 13%;
  }

  #btn1 {
    margin-left: -500px;
    margin-top: 20px;
  }

  #btn2 {
    margin-left: 570px;
    margin-top: -70px;
  }
}

.card-section3 {
  background-color: #fff;
  text-align: center;
  padding: 90px 0;

  #text3 {
    font-size: 28px;
    color: black;
  }

  #text-box {
    margin-top: 40px;
    color: dark;

  }

  #linha-orcamento {
    width: 880px;
    align-items: center;
    margin-left: 300px;
    height: 4px;
    color: #000000;
  }

  .text-zap {
    margin-top: 135px;
    margin-left: -950px;
  }

  #call-whats {
    font-size: 18px;
  }

  #sub-whats {
    font-size: 12px;
  }

  #img-whatsapp {
    width: 65px;
    margin-top: -100px;
    margin-left: 480px;
  }

}

.test-section,
.description-section {
  margin-top: 100px;
  padding: 30px 20px;
  text-align: center;

  #linha {
    width: 150px;
    color: #4f2c1d;
  }

}

.description-section .box {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #997676;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--Cor-de-fundo);


}

.description-testes {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 0px;
  border: 1px solid #fcf9f9;
  background-color: #4f2c1d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(221, 220, 220, 0.1);
  color: var(--Cor-de-fundo);
}

#bnt {
  color: white;
  text-decoration: none;

}

.footer {
  background-color: var(--cor-do-footer);
  color: var(--color-light);
  text-align: center;
  padding: 1em;
}

.footer__text {
  font-size: var(--font-size-small);
}

/* Resoluções */

/* ipad mini */
@media (min-width:700px) and (max-width:900px) {
  .header {
    position: relative;
    text-align: left;
  
    .text-content {
      position: absolute;
      top: 75%;
      left: 44%;
      transform: translateY(-50%);
      color: #fff;
    }
    
    .background {
      width: 100%;
      height: 650px;
      opacity: 95%;
      transition: opacity 0.3s ease;
    
    }
  
    .overlay {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
      max-width: 430px;
      height: auto;
      opacity: 62%;
    }
    
    .h2 {
      font-size: 2em;
      margin: 0;
    }
    
    .p {
      font-size: 1em;
      margin: 10px 0;
    }
    
    .button {
      padding: 10px 10px;
      font-size: 1em;
      cursor: pointer;
      margin-left: -10px;
    }
  }

  .card-section {
    
    text-align: center;
    padding: 90px 0;
  
    .card {
      display: inline-block;
      width: 300px;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
    }
  
    #text {
      font-size: 28px;
  
    }

    .card img {
      width: 100%;
      border-radius: 10px;
    }
  
  }
  
  .card-section2 {
    text-align: center;
    background-color: #3b3939;
    padding: 3%;
  
    #text2 {
      font-size: 28px;
      color: var(--Cor-de-fundo);
      margin-left: 0px;
    }
  
    #text3 {
      font-size: 28px;
      color: var(--Cor-de-fundo);
      margin-right: 0px;
      margin-top: 5px;
    }
  
    .col {
      margin-left: 0%;
      margin-top: 80px;
    }
  
    #btn1 {
      margin-left: 10px;
      margin-top: -680px;
    }
  
    #btn2 {
      margin-left: 0px;
      margin-top: -8px;
    }
  }
  
  .card-section3 {
    
    text-align: center;
    padding: 90px 0;
  
    #text3 {
      font-size: 28px;
      color: black;
    }
  
    #text-box {
      margin-top: 40px;
      color: dark;
  
    }
  
    #linha-orcamento {
      width: 180px;
      align-items: center;
      margin-left: 290px;
      height: 4px;
      color: #000000;
    }
  
    .text-zap {
      margin-top: 135px;
      margin-left: -60px;
    }
  
    #call-whats {
      font-size: 15px;
    }
  
    #sub-whats {
      font-size: 11px;
    }
  
    #img-whatsapp {
      width: 65px;
      margin-top: -105px;
      margin-left: 380px;
    }
  
  }
  
  .test-section,
  .description-section {
    margin-top: 20px;
    padding: 20px 20px;
    text-align: center;
  
    #linha {
      width: 150px;
      color: #4f2c1d;
    }
  
  }
  
  .description-section .box {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #997676;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--Cor-de-fundo);
  
  
  }
  
  .description-testes {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 0px;
    border: 1px solid #fcf9f9;
    background-color: #4f2c1d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(221, 220, 220, 0.1);
    color: var(--Cor-de-fundo);
  }
  
  #bnt {
    color: white;
    text-decoration: none;
  
  }
  
  .footer {
    background-color: var(--cor-do-footer);
    color: var(--color-light);
    text-align: center;
    
  }
  
  .footer__text {
    font-size: var(--font-size-small);
  }

}

@media(min-width: 900px) and (max-width:1380px){
  * {
    margin: 0;
    padding: 0;
  }

  .header {
    position: relative;
    text-align: left;
  
    .text-content {
      position: absolute;
      top: 75%;
      left: 44%;
      transform: translateY(-50%);
      color: #fff;
    }
    
    .background {
      width: 100%;
      height: 650px;
      opacity: 95%;
      transition: opacity 0.3s ease;
    
    }
  
    .overlay {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
      max-width: 430px;
      height: auto;
      opacity: 62%;
    }
    
    .h2 {
      font-size: 2em;
      margin: 0;
    }
    
    .p {
      font-size: 1em;
      margin: 10px 0;
    }
    
    .button {
      padding: 10px 10px;
      font-size: 1em;
      cursor: pointer;
      margin-left: -10px;
    }
  }

  .card-section {
    
    text-align: center;
    padding: 90px 0;
  
    .card {
      display: inline-block;
      width: 300px;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
    }
  
    #text {
      font-size: 28px;
  
    }

    .card img {
      width: 100%;
      border-radius: 10px;
    }
  
  }
  
  .card-section2 {
    text-align: center;
    background-color: #3b3939;
    padding: 3%;
  
    #text2 {
      font-size: 28px;
      color: var(--Cor-de-fundo);
      margin-left: 0px;
    }
  
    #text3 {
      font-size: 28px;
      color: var(--Cor-de-fundo);
      margin-right: 0px;
      margin-top: 5px;
    }
  
    .col {
      margin-left: 0%;
      margin-top: 80px;
    }
  
    #btn1 {
      margin-left: 10px;
      margin-top: -680px;
    }
  
    #btn2 {
      margin-left: 0px;
      margin-top: -8px;
    }
  }
  
  .card-section3 {
    
    text-align: center;
    padding: 90px 0;
  
    #text3 {
      font-size: 28px;
      color: black;
    }
  
    #text-box {
      margin-top: 40px;
      color: dark;
  
    }
  
    #linha-orcamento {
      width: 430px;
      align-items: center;
      height: 4px;
      color: #000000;
    }
  
    .text-zap {
      margin-top: 135px;
      margin-left: -60px;
    }
  
    #call-whats {
      font-size: 15px;
    }
  
    #sub-whats {
      font-size: 11px;
    }
  
    #img-whatsapp {
      width: 65px;
      margin-top: -105px;
      margin-left: 380px;
    }
  
  }
  
  .test-section,
  .description-section {
    margin-top: 20px;
    padding: 20px 20px;
    text-align: center;
  
    #linha {
      width: 150px;
      color: #4f2c1d;
    }
  
  }
  
  .description-section .box {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #997676;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--Cor-de-fundo);
  
  
  }
  
  .description-testes {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 0px;
    border: 1px solid #fcf9f9;
    background-color: #4f2c1d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(221, 220, 220, 0.1);
    color: var(--Cor-de-fundo);
  }
  
  #bnt {
    color: white;
    text-decoration: none;
  
  }
  
  .footer {
    background-color: var(--cor-do-footer);
    color: var(--color-light);
    text-align: center;
    
  }
  
  .footer__text {
    font-size: var(--font-size-small);
  }

}


@media (min-width:350px) and (max-width: 460px) {
  
  .header {
    position: relative;
    text-align: left;
  
    .text-content {
      position: absolute;
      top: 75%;
      left: 15%;
      transform: translateY(-50%);
      color: #fff;
    }
    
    .background {
      width: 100%;
      height: 650px;
      opacity: 95%;
      transition: opacity 0.3s ease;
    
    }
  
    .overlay {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
      max-width: 430px;
      height: auto;
      opacity: 62%;
    }
    
    .h2 {
      font-size: 2em;
      margin: 0;
    }
    
    .p {
      font-size: 1em;
      margin: 10px 0;
    }
    
    .button {
      padding: 10px 10px;
      font-size: 1em;
      cursor: pointer;
      margin-left: -10px;
    }
  }

  .card-section {
    
    text-align: center;
    padding: 90px 0;
  
    .card {
      display: inline-block;
      width: 300px;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
    }
  
    #text {
      font-size: 28px;
  
    }

    .card img {
      width: 100%;
      border-radius: 10px;
    }
  
  }
  
  .card-section2 {
    text-align: center;
    background-color: #3b3939;
    padding: 3%;
  
    #text2 {
      font-size: 28px;
      color: var(--Cor-de-fundo);
      margin-left: 0px;
    }
  
    #text3 {
      font-size: 28px;
      color: var(--Cor-de-fundo);
      margin-right: 0px;
      margin-top: 5px;
    }
  
    .col {
      margin-left: 0%;
      margin-top: 80px;
    }
  
    #btn1 {
      margin-left: 10px;
      margin-top: -680px;
    }
  
    #btn2 {
      margin-left: 0px;
      margin-top: -8px;
    }
  }
  
  .card-section3 {
    
    text-align: center;
    padding: 90px 0;
  
    #text3 {
      font-size: 28px;
      color: black;
    }
  
    #text-box {
      margin-top: 40px;
      color: dark;
  
    }
  
    #linha-orcamento {
      width: 180px;
      align-items: center;
      margin-left: 120px;
      height: 4px;
      color: #000000;
    }
  
    .text-zap {
      margin-top: 135px;
      margin-left: -60px;
    }
  
    #call-whats {
      font-size: 15px;
    }
  
    #sub-whats {
      font-size: 11px;
    }
  
    #img-whatsapp {
      width: 65px;
      margin-top: -105px;
      margin-left: 380px;
    }
  
  }
  
  .test-section,
  .description-section {
    margin-top: 20px;
    padding: 20px 20px;
    text-align: center;
  
    #linha {
      width: 150px;
      color: #4f2c1d;
    }
  
  }
  
  .description-section .box {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #997676;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--Cor-de-fundo);
  
  
  }
  
  .description-testes {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 0px;
    border: 1px solid #fcf9f9;
    background-color: #4f2c1d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(221, 220, 220, 0.1);
    color: var(--Cor-de-fundo);
  }
  
  #bnt {
    color: white;
    text-decoration: none;
  
  }
  
  .footer {
    background-color: var(--cor-do-footer);
    color: var(--color-light);
    text-align: center;
    
  }
  
  .footer__text {
    font-size: var(--font-size-small);
  }

}