@import url('styles-android.css');

.body{
  background-color: red;
}
.question{
  margin-top: 260px;
  border: 2px solid black;
  align-items: baseline;
  background-color: #eeeeee;
  margin-top: 10px;
  border-radius: 2%;
  
}
.text-question{
  margin-left: 100px;
  margin-top: 30px;
}
.text-center{
  align-items: center;
  background-color: #fff;
  margin-top: 120px;
}
