


:root {
  --cor-da-letra: rgb(17, 17, 17);
  --tamanho-da-letra: 22px;
  --tamanho-da-letra-smartphone: 16px;
  --fonte-da-letras:'Open Sans', 'sans-serif';
  --tamanho-de-titulo: 45px;
  --cor-da-barra-menu:#ffffff;

  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  width: 110%;
  margin: -40px 0px 0px -100px;
}
.nav-link > li {
 
  color: var(--cor-da-letra);
  font-size: var(--tamanho-da-letra);
  font-family: var(--fonte-da-letras) !important;
  
}
.bg-body-tertiary{
  background-color: var(--cor-da-barra-menu)  !important;
}
.nav-link {
  color: var(--cor-da-letra);
  font-size: var(--tamanho-da-letra);
  font-family: var(--fonte-da-letras) !important;
}

.nav-link:hover {
  color:#E52D27 !important;
 
  
}
.nav-item{
  margin: 0px -180px 0px 355px;
  align-items: center;
}

.text-titulo {
  text-align: center;
  font-family: var(--fonte-da-letras);
  font-size: var(--tamanho-de-titulo);
  color: var(--cor-da-letra);
}
.text-titulo::after {
  content: "";
  width: 200px;
  height: 4px;
  background: currentColor;
  display: block;
  margin: 10px auto;
}
.btn{
  width: 175px;
  border-radius: 20px;
  background-color: #ffffff;
  color: black;
  border: 2px solid  black;
  margin-top: 10px;
}
.imagem-slides{
  width: 25%;
 margin: 100px 0px 0px 1050px;
}
.img-card-menu {
  margin: 0px 0px 0px -100px;
  width: 20%;
}

.img-insta {
  margin: 12px 10px 0px 0px;
}

.img-Facebook {
  margin: 12px 10px 0px 0px;
}

.img-whatsapp {
  margin: 12px 10px 0px 0px;
}

.logos-menu {
  /* insta,whatsapp,facebook   */
  margin: 0px 0px 0px 500px;
}
.logo-Guta {
  width: 220px;
  margin-left: 50px;
}

.gradient {
  width: 100vw;
  height: 200vh;
  background: linear-gradient(#ffffff, #edd1ae, #f1f0ef);
  background-size: 100%;
  animation: gradient-animation 6s ease infinite;
  padding: 40px 4%;
} /*  --- Header --- */

@keyframes gradient-animation {
  20% {
    background-position: 5% 70%;
  }

  50% {
    background-position: 100% 50%;
  }

  80% {
    background-position: 3% 50%;
  }
}


@media (min-width:350px) and (max-width:500px) {
  
  .navbar{
    width: 430px;
    margin: -40px 100px 0px -20px;
  }
  .nav-item{
    margin: 0px 0px 10px 0px;
    align-items: center;
  }

  .nav-link > li {
 
    color: var(--cor-da-letra);
    font-size: var(--tamanho-da-letra-smartphone);
    font-family: var(--fonte-da-letras) !important;
    
  }
  .collapse{
    width: 135px;
  }
    
  .logo-Guta {
    width: 180px;
  }
  .imagem-slides{
    width: 50%;
   margin: 50px 0px 0px 190px;
  }
  .btn{
    width: 175px;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
    border: 2px solid  black;
    margin-top: 10px;
  }
  .logos-menu {
    /* insta,whatsapp,facebook   */
    margin: 30px 0px 0px 0px;
  }
}