:root {
  --Cor-de-fundo: #fff;
  --tamanho-da-letra: 22px;
  --tamanho-da-letra-smartphone: 16px;
  --fonte-da-letras: "Ogg", serif;
  --tamanho-de-titulo: 45px;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
.navbar {
  background: #ffffff !important;
}
.nav-item > a {
  align-items: end;
  font-family: "Ogg", serif;
  font-size: 34px;
}
.nav-link {
  margin: 0px 20px 0px 0px;
}

.ultimos-post {
  background-color: #f4f4f4;
  padding: 95px 0;
 
}
.card-text {
  font-family: "EB Garamond", serif !important;
  font-size: 22px;
}
.title {
  color: #070707;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 26px;
  font-weight: normal;
  margin-top: -80px;
  font-family: "Source Serif 4", serif;
  margin-left: 50px;
}
.link-tendencias {
  text-decoration: none;
}
.link-artigos {
  margin: -50px 200px 0px 2550px;
  text-decoration: none;
}
.link-artigos > a {
  margin: 0px 0px 0px 100px;
  text-decoration: none;
  font-family: "Source Serif 4", serif;
}
.link-tendencias > a {
  text-decoration: none;
}
.text-center {
  background-color: #eae0db;
  height: 250px;
  margin-top: -102px;
}
.texto-contato {
  margin: 54px 0px 0px 50px;
  text-align: left;
  align-items: center;
  color: #8e1e1e;
  font-size: 83px;
  font-family: "Ogg", serif;
  line-height: 90%;
  padding-block: 1px;
  padding-inline: 2px;
}
.form {
  padding-block: 1px;
  padding-inline: 2px;
  border-width: 1px;
  border-style: inset;
  font-size: 12px;
  margin-top: 50px;
  margin-left: 250px;
  width: 100%;
  height: 60px;
}
 /* carrosel imagens */
.item{
  width: 550px;
  height: 550px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  display: inline-block; 
}
.current-item{
  opacity: 1;
}
.cards{
  width: 554px;
  position:static;
  display: inline-block;
  flex-shrink: 0;
  
}
.containe{
  background-color: #f4f4f4;
  position: relative;
  
  padding: 15px;
  margin: 0 auto;
}
.titulo-card1,.titulo-card2,.titulo-card3,.titulo-card4,.titulo-card5,.titulo-card6{
 text-align: center;
}
.gallery-wrapper::-webkit-scrollbar{
  display: none;
}
.gallery-wrapper{
  overflow-x: 0 auto;
  overflow-y: hidden;
  margin-top: 100px;
  width: 100%;
  z-index: 0;
  scroll-behavior: smooth;
}
.gallery{
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
}
.arrow-left{
  margin: -300px 0px 0px 1550px;
  
}
.arrow-right{
  margin: -300px 0px 0px 1450px;
  
}
/* imagens */
.logo-Guta {
  width: 280px;
  margin: 0px 750px 0px 70px;
}
.logos-menu {
  text-align: center;
  list-style: none;
  width: 240px;
  
}
.seta {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
.seta:hover {
  -webkit-transform: scale(1.26); /* Safari and Chrome */
  -moz-transform: scale(1.26); /* Firefox */
  -ms-transform: scale(1.26); /* IE 9 */
  -o-transform: scale(1.26); /* Opera */
  transform: scale(1.26);
}
.img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
.img:hover {
  -webkit-transform: scale(1.26); /* Safari and Chrome */
  -moz-transform: scale(1.26); /* Firefox */
  -ms-transform: scale(1.26); /* IE 9 */
  -o-transform: scale(1.26); /* Opera */
  transform: scale(1.26);
}


@media (min-width: 360px) and (max-width: 460px)  {

  .boby { 
    margin: 0px;
    padding: 0px;
  }
  .navbar-toggler{
    margin-top: 15px;
  }
  .navbar {
    background-color: #fff;
  }
  .navbar-toggler {
    margin-top: -10px;
  }
  .nav-item {
    margin: 10px 0px 0px 0px;
  }

  .card-text {
    font-family: "EB Garamond", serif !important;
  }
  .title {
    color: #070707;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: -110px;
    margin-left: 10px;
    font-family: "Source Serif 4", serif;
  }
  .link-artigos {
    margin: -50px 0px 0px -10px;
    text-decoration: none;
  }
  .link-artigos > a {
    margin-left: 15px;
    text-decoration: none;
    font-family: "Source Serif 4", serif;
  }
  .link-tendencias > a {
    margin-left: 15px;
    text-decoration: none;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
  .text-center {
    background-color: #eae0db;
    margin-top: -102px;
  }
  .texto-contato {
    margin: 34px 0px 0px 5px;
    text-align: left;
    align-items: center;
    color: #8e1e1e;
    font-size: 63px;
    font-family: "Ogg", serif;
  }
  .form {
    padding-block: 1px;
    padding-inline: 2px;
    border-width: 1px;
    border-style: inset;
    font-size: 12px;
    margin-top: 10px;
    margin-left: -10px;
    width: 260px;
    height: 30px;
    border-radius: 1px;
  }
  
  /* imagens */

  .img-top{
    margin-top: 35px;
  }
  .logo-Guta {
    width: 180px;
    margin-left: -760px !important;
    margin-top: 20px;
  }
  .logos-menu {
    text-align: center;
    list-style: none;
    margin-left: -30px;
  }
  .seta {
    margin-top: 20px;
    margin-left: 280px;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
   /* carrosel imagens */
   .card_dicas_da_semana{
    width: 400px;
    margin-top: 350px;
    height: 200px;
   }
  .cards{
    width: 310px;
    position:static;
    display: inline-block;
    flex-shrink: 0;
    
  }
  .item{
    position: relative;
    width: 308px;
    height: 310px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    display: inline-block; 
    
  }

  .current-item{
    opacity: 1;
  }
  .containe{
    background-color: #f4f4f4;
    position: absolute;
    width: 390px;
    padding: 25px;
    margin: 0 auto;
    margin-top: -45px;
  }
  .titulo-card1,.titulo-card2,.titulo-card3,.titulo-card4,.titulo-card5,.titulo-card6{
   text-align: center;
  }
  .gallery-wrapper::-webkit-scrollbar{
    display: none;
  }
  .gallery-wrapper{
    overflow-x: 0 auto;
    overflow-y: hidden;
    margin-top: 100px;
    width: 100%;
    z-index: 0;
    scroll-behavior: smooth;
    margin-top: 30px;
  }
  .gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .arrow-left{
    width: 60px;
    margin: -180px 0px 10px 130px;
    
    
  }
  .arrow-right{
    width: 60px;
    margin: -180px 0px 10px 80px;
    
  }
}

/* ipad mini */
@media (min-width: 700px) and (max-width: 980px)  {
  .boby { 
    margin: 0px;
    padding: 0px;
  }
  .navbar-toggler{
    margin-top: 15px;
  }
  .navbar {
    background-color: #fff;
  }
  .navbar-toggler {
    margin-top: -10px;
  }
  .nav-item {
    margin: 10px 0px 0px 0px;
  }

  .card-text {
    font-family: "EB Garamond", serif !important;
  }
  .title {
    color: #070707;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: -110px;
    margin-left: 10px;
    font-family: "Source Serif 4", serif;
  }
  .link-artigos {
    margin: -50px 0px 0px -10px;
    text-decoration: none;
  }
  .link-artigos > a {
    margin-left: 15px;
    text-decoration: none;
    font-family: "Source Serif 4", serif;
  }
  .link-tendencias > a {
    margin-left: 15px;
    text-decoration: none;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
  .text-center {
    background-color: #eae0db;
    margin-top: -102px;
  }
  .texto-contato {
    margin: 34px 0px 0px 29px;
    text-align: left;
    align-items: center;
    color: #8e1e1e;
    font-size: 63px;
    font-family: "Ogg", serif;
  }
  .form {
    padding-block: 1px;
    padding-inline: 2px;
    border-width: 1px;
    border-style: inset;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 350px;
    width: 300px;
    height: 30px;
    border-radius: 1px;
  }
  
  /* imagens */

  .img-top{
    margin-top: 35px;
  }
  .logo-Guta {
    width: 180px;
    margin-left: -760px !important;
    margin-top: 20px;
  }
  .logos-menu {
    text-align: center;
    list-style: none;
    margin-left: -30px;
  }
  .seta {
    margin-top: 20px;
    margin-left: 620px;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
   /* carrosel imagens */
  .cards{
    width: 310px;
    position:static;
    display: inline-block;
    flex-shrink: 0;
    
  }
  .item{
    position: relative;
    width: 308px;
    height: 310px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    display: inline-block; 
    
  }

  .current-item{
    opacity: 1;
  }
  .containe{
    background-color: #f4f4f4;
    position: absolute;
    width: 742px;
    padding: 25px;
    margin: 0 auto;
    margin-top: -45px;
  }
  .titulo-card1,.titulo-card2,.titulo-card3,.titulo-card4,.titulo-card5,.titulo-card6,.titulo-card7{
   text-align: center;
  }
  
  .gallery-wrapper::-webkit-scrollbar{
    display: none;
  }
  .gallery-wrapper{
    overflow-x: 0 auto;
    overflow-y: hidden;
    margin-top: 100px;
    width: 100%;
    z-index: 0;
    scroll-behavior: smooth;
    margin-top: 30px;
  }
  .gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .arrow-left{
    width: 60px;
    margin: -180px 0px 10px 130px;
    
    
  }
  .arrow-right{
    width: 60px;
    margin: -180px 0px 10px 80px;
    
  }
}


@media (min-width: 992px) and (max-width: 1200px)  {
  .boby { 
    margin: 0px;
    padding: 0px;
  }
  .navbar-toggler{
    margin-top: 15px;
  }
  .navbar {
    background-color: #fff;
  }
  .navbar-toggler {
    margin-top: -10px;
  }
  .nav-item {
    align-items: center;
  }

  .card-text {
    font-family: "EB Garamond", serif !important;
  }
  .title {
    color: #070707;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: -110px;
    margin-left: 10px;
    font-family: "Source Serif 4", serif;
  }
  .link-artigos {
    margin: -50px 0px 0px -10px;
    text-decoration: none;
  }
  .link-artigos > a {
    margin-left: 15px;
    text-decoration: none;
    font-family: "Source Serif 4", serif;
  }
  .link-tendencias > a {
    margin-left: 15px;
    text-decoration: none;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
  .text-center {
    background-color: #eae0db;
    margin-top: -102px;
  }
  .texto-contato {
    margin: 54px 190px -70px 20px;
    text-align: left;
    align-items: center;
    color: #8e1e1e;
    font-size: 63px;
    font-family: "Ogg", serif;
  }
  .form {
   border: none;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 550px;
    width: 300px;
    height: 40px;
    border-radius: 1px;
  }
  
  /* imagens */

  .img-top{
    margin-top: 35px;
  }
  .logo-Guta {
    width: 180px;
    margin-left: -20px !important;
    margin: 0px 60px 0px 20px;
  }
  .logos-menu {
    text-align: center;
    list-style: none;
    
  }
  .seta {
    margin-top: 20px;
    margin-left: 900px;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
   /* carrosel imagens */

   .card_dicas_da_semana{
    width: 1000px;
    margin-top: 350px;
    height: 200px;
   }
  .cards{
    width: 310px;
    position:static;
    display: inline-block;
    flex-shrink: 0;
    
  }
  .item{
    position: relative;
    width: 308px;
    height: 310px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    display: inline-block; 
    
  }

  .current-item{
    opacity: 1;
  }
  .containe{
    background-color: #f4f4f4;
    position: absolute;
    width: 999px;
    padding: 25px;
    margin: 0 auto;
    margin-top: -15px;
  }
  .titulo-card1,.titulo-card2,.titulo-card3,.titulo-card4,.titulo-card5,.titulo-card6{
   text-align: center;
  }
  .gallery-wrapper::-webkit-scrollbar{
    display: none;
  }
  .gallery-wrapper{
    overflow-x: 0 auto;
    overflow-y: hidden;
    margin-top: 100px;
    width: 100%;
    z-index: 0;
    scroll-behavior: smooth;
    margin-top: 30px;
  }
  .gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .arrow-left{
    width: 60px;
    margin: -180px 0px 10px 600px;
    
    
  }
  .arrow-right{
    width: 60px;
    margin: -180px 0px 10px 550px;
    
  }
}

/*   Tablet    */
@media (min-width: 1100px) and (max-width: 1200px)  {
  .boby { 
    margin: 0px;
    padding: 0px;
  }
  .navbar-toggler{
    margin-top: 15px;
  }
  .navbar {
    background-color: #fff;
  }
  .navbar-toggler {
    margin-top: -10px;
  }
  .nav-item {
    align-items: center;
  }

  .card-text {
    font-family: "EB Garamond", serif !important;
  }
  .title {
    color: #070707;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: -110px;
    margin-left: 10px;
    font-family: "Source Serif 4", serif;
  }
  .link-artigos {
    margin: -50px 0px 0px -10px;
    text-decoration: none;
  }
  .link-artigos > a {
    margin-left: 15px;
    text-decoration: none;
    font-family: "Source Serif 4", serif;
  }
  .link-tendencias > a {
    margin-left: 15px;
    text-decoration: none;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
  .text-center {
    background-color: #eae0db;
    margin-top: -102px;
  }
  .texto-contato {
    margin: 54px 190px -70px 20px;
    text-align: left;
    align-items: center;
    color: #8e1e1e;
    font-size: 63px;
    font-family: "Ogg", serif;
  }
  .form {
   border: none;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 550px;
    width: 300px;
    height: 40px;
    border-radius: 1px;
  }
  
  /* imagens */

  .img-top{
    margin-top: 35px;
  }
  .logo-Guta {
    width: 180px;
    margin-left: -20px !important;
    margin: 0px 210px 0px 20px;
  }
  .logos-menu {
    text-align: center;
    list-style: none;
    
  }
  .seta {
    margin-top: 20px;
    margin-left: 1150px;
  }
  .ultimos-post {
    background-color: #f4f4f4;
    
  }
   /* carrosel imagens */
   .card_dicas_da_semana{
    width: 1000px;
    margin-top: 420px;
    height: 200px;
   }

  .cards{
    width: 310px;
    position:static;
    display: inline-block;
    flex-shrink: 0;
    
  }
  .item{
    position: relative;
    width: 308px;
    height: 310px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    display: inline-block; 
    
  }

  .current-item{
    opacity: 1;
  }
  .containe{
    background-color: #f4f4f4;
    position: absolute;
    width: 1274px;
    padding: 25px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .titulo-card1,.titulo-card2,.titulo-card3,.titulo-card4,.titulo-card5,.titulo-card6{
   text-align: center;
  }
  .gallery-wrapper::-webkit-scrollbar{
    display: none;
  }
  .gallery-wrapper{
    overflow-x: 0 auto;
    overflow-y: hidden;
    margin-top: 100px;
    width: 100%;
    z-index: 0;
    scroll-behavior: smooth;
    margin-top: 30px;
  }
  .gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .arrow-left{
    width: 60px;
    margin: -180px 0px 10px 780px;
    
    
  }
  .arrow-right{
    width: 60px;
    margin: -180px 0px 10px 710px;
    
  }
}
